<h1>Bitly</h1>
  <p>Deja a los usuarios crear una URL reducida y despliega una lista de URLs.</p>
  <br>

  <form name="foo" action="/urls" method="post">
    <input type="text" name="new_url" value="">
    <input type="submit" name="subm" value="Submit">
  </form>

  <br>
  <%if session[:errors] != [nil]%>
    <%=session[:errors].join %>
  <%end%>
  <br>
  <h2>URLs</h2>
  <% if @urls%>
    <%@urls.each do |url|%>
      <!--el link dirige a la url corta-->
      <a href="/short_url/<%= url.id %>">https://bitly/<%=url.short_url%></a><br>

    <%end%>
  <%end%>
